body {
    background-color: #F5F5F5;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin: 0px;
}

td {
    border: 1px solid #000000;
}

/*Classes*/
.reset {
    clear: both;
}

.socialTumb {
    float: left;
    width: 56px;
    height: 56px;
    background-color: #FFFFFF;
    text-align: center;
    margin: 0px 0px 0px 18px;
}

.highlight {
    color: #ff00e6;
    font-weight: bold;
}

/*ID's*/
#mainContainer {
    width: 850px;
    margin: 0px auto;
    padding: 20px 0px 0px 0px;
    background-color: #FFFFFF;
}

/*Navigation*/
#navigation {
    height: 30px;
    margin: 0px 0px 10px 0px;
}

#navigation a {
    padding: 10px;
    background: #b1d1a3;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 4px;
}

#navigation a:hover {
    background: #4f6944;
}

/*Intro part*/
#introText {
    color: #0000FF;
}

#introContainer {
    width: 470px;
    float: left;
    margin: 0px 0px 0px 37px;
}

#introPicture {
    float: left;
}

/*Hobbies part*/
#hobbyContainer {
    width: 420px;
    height: 151px;
    float: left;
    margin: 44px 0px 42px 0px;
}

#hobbyContainer h2 {
    margin: 0px;
}

#heroshot {
    float: left;
    margin: 44px 0px 42px 53px;
}

/*Meme part*/

#meme {
    float: left;
}

#paddingTest {
    width: 260px;
    height: 260px;
    background-color: #959595;
    margin: 0px 0px 30px 0px;
    /*padding adds to with and height*/
    padding: 20px;
    border-radius: 4px;

}