body {
    background-color: #598759;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#introText {
    color: #0000FF;
}

.highlight {
    color: #ff00e6;
    font-weight: bold;
}

#introContainer {
    width: 470px;
    float: left;
}

#introPicture {
    float: left;
}